.community-card{
    border: solid 1px hsl(0,0%,80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 5%, 8%);
    background-color: antiquewhite;
    width: 200px;
    height:270px;
    margin: 20px;
    display: inline-block;
}

.Community-icon{
    width: 120px;
    height: 120px;
    margin-left: 35px;
    margin-top: 20px;
    background-color: black;
    position: relative;
}

.information{
    text-align: center;
    height: 35%;
}

.Join-Button{
    font-family: didot;
    padding: 5px;
    margin-left:35%;
}

.Description{
    font-size: x-small;
}